@import '../colors.scss';

.uc-card{
  position: relative;
  text-align: center;

  &__image {
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    border: 3px solid transparent;
  }

  &__image.image-selected {
    border: solid 2px $selected-card-border-color;
  }

  &__empty {
    height: 100px;
    width: 100px;
  }

  .caption-inside {
    width: 100%;
    position: absolute;
    bottom: 10%;
  }
}