@import '../../ui-core/colors';

.image-viewer {
  border: 1px solid $section-border-color;
  padding: 15px;
  border-radius: 2px;
  min-width: 530px;

  .iv__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .iv__content {
    width: 500px;
    height: 530px;
    margin: auto;
    text-align: center;
    background-color: $image-viewer-background-color;
  }
}