@import '../../ui-core/colors';

.image-selector {
  .is__container {
    width: 100%;
    overflow: auto;
    white-space: nowrap;

    .is_container__card {
      width: 100px;
      height: 130px;
      margin: 5px;
      display: inline-block;
    }
  }

  .is__actions {
    height: 44px;
  }
}