@import '../../ui-core/colors';

.image-selector {
  margin-bottom: 10px;
  border: 1px solid $section-border-color;
  padding: 15px;
  border-radius: 2px;

  .is__title {
    font-size: 20px;
    text-align: center;
  }

  .is__container {
    width: 100%;
    overflow: auto;
    white-space: nowrap;

    .is_container__card {
      width: 100px;
      height: 130px;
      margin: 5px;
      display: inline-block;
    }
  }

  .is__actions {
    display: flex;
    position: relative;
    height: 44px;

    Button {
      position: absolute;
      right: 0;
    }
  }
  
}